// Common Xcode settings for Debug builds of AAX SDK example plug-in projects
//
// These example settings may be used as a basis for your own
// custom project configuration settings.
//
// Coyright 2020-2021, 2023 Avid Technology, Inc.
// All rights reserved.
// 
// This file is part of the Avid AAX SDK.
// 
// The AAX SDK is subject to commercial or open-source licensing.
// 
// By using the AAX SDK, you agree to the terms of both the Avid AAX SDK License
// Agreement and Avid Privacy Policy.
// 
// AAX SDK License: https://developer.avid.com/aax
// Privacy Policy: https://www.avid.com/legal/privacy-policy-statement
// 
// Or: You may also use this code under the terms of the GPL v3 (see
// www.gnu.org/licenses).
// 
// THE AAX SDK IS PROVIDED "AS IS" WITHOUT ANY WARRANTY, AND ALL WARRANTIES, WHETHER
// EXPRESSED OR IMPLIED, INCLUDING MERCHANTABILITY AND FITNESS FOR PURPOSE, ARE
// DISCLAIMED.


#include "CommonSettings.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = _DEBUG=1 "JUCE_ObjCExtraSuffix=$(PRODUCT_NAME)"
COPY_PHASE_STRIP = NO

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

PLUGIN_FILE_SPECIFIC_OPTIMIZATION_FLAGS = -O3

CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++0x
